.page-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.page-form h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: -1rem;
}

li {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page-form .form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.page-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.page-form .form-group label {
    font-size: 1.25rem;
    color: var(--color-on-background);
}

.page-form .form-group input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-on-background);
    border-radius: 0.5rem;
    color: var(--color-on-background);
    background-color: var(--color-background);
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-form .form-group input:focus {
    border-color: var(--color-primary);
    outline: none;
}

.page-form .submit-button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
    margin-top: 11px;
}

.page-form .submit-button:hover {
    background-color: var(--color-primary-hover);
}

.page-form .errors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.page-form .errors .error {
    padding: 1rem;
    background-color: var(--color-error);
    color: var(--color-on-error);
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.page-form .meta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.page-form .meta h3 {
    font-size: 1.5rem;
    margin-bottom: -15px;
}

.page-form .meta ul {
    list-style-type: disc;
    padding-left: 1rem;
    width: 100%;
}

.page-form .meta ul li {
    margin-bottom: 0.5rem;
    color: var(--color-on-background);
    width: 100%;
}
